@import url('https://fonts.googleapis.com/css2?family=Share&display=swap');

html, body {
    height: 100%;
}

body {
    background-color: rgb(85, 226, 179);

}

.calculator {
    background: #13c99b;
    width: 300px;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 5px;
    box-shadow: 5px 5px 0px #119977;
    font-family: 'Share', cursive;
    user-select: none;

}

.result{
    background-color: rgb(233, 236, 236);
    color: blue;
    width: 90%;
    margin: 10px 0px 20px 6px;
    padding: 0px 10px;
    text-align: right;
    height: 50px;
    line-height: 50px;
    font-size: 35px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: inset 0px 2px 2px #a1a1a1;
    font-family: 'Share', cursive;
    user-select: all;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
    background-color: #0b755b;
    padding: 10px;
    width: 15%;
    float: left;
    color: #fff;
    margin: 5px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 0 rgb(41, 186, 190), 0px 2px 5px #a1a1a1;
    font-family: 'Share', cursive;
}

ul li:active {
    position: relative;
    top: 5px;
    box-shadow: inset 0 1px 2px rgb(69, 110, 93);
}

ul li:nth-child(16) {
    height: 75px;
    line-height: 75px;
}

ul li:last-child {
    margin-top: -48px;
    width: 65%;
}

.signature {
    color: #fff;
    font-size: 10px;
    text-align: right;
    position: relative;
    top: 7px;
    z-index: -1;
    font-family: "Gill Sans Extrabold", sans-serif;
}

.heart {
    color: #0f5e4a;
    text-align: right;
}